/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    overflow: hidden; /* Hide horizontal scroll bar */
  overflow-y: auto;
  }

  ::-webkit-scrollbar {
    width: 10px; /* Width of the scroll bar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scroll bar track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll bar handle */
    border-radius: 5px; /* Rounded corners of the scroll bar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll bar handle on hover */
  }
  
  .navbar {
    width: 100%;
    background-color: #333; /* Dark background for the navbar */
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
/* styles.css */

/* styles.css */

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}


  
  .home-container {
    width: 100%;
    padding: 20px;
    text-align: center; /* Center align the content */
  }
  
  .services {
    margin-top: 30px;
  }
  
  .service {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #333; /* Dark background for service items */
    border-radius: 5px;
  }
  

.login-container {
    max-width: 400px;
    margin: 0 auto;
    color: black;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"],
  button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  


