.navbar{
    display: flex;
    padding: 10px;
    background-color: rgb(0, 108, 108);
    height: 50px;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.search{
    margin:3px;
    padding: 20px;
    height: 15px;
}

.searchBar{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.links{
    gap: 10px;
    justify-content: space-between;
}

.auth{
    display: flex;
    gap: 10px;

}

button{
    padding: 10px;
    gap: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.authLink{
    border-radius: 5px;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: azure;

}

.link{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: azure;
}

.link:hover{
    background-color: rgb(80, 164, 164);
    color: white;
}

.logo{
    left: 10px;
    border-radius: 50%;
    font-size: 20px;
    color:darkblue;
    text-decoration:solid;
}

@media (max-width: 768px) {
    .navbar{
        flex-direction: column;
    }

    .searchBar, .links{
        width: 100%;
        justify-content: space-around;
    }

    .link{
        margin: 5px 0;
    }
}