<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Learning Platform</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div>
            <a href="home-page"><img src="online learning.avif" alt="OnlinEd"></a>
        </div>
        <h1>Online Learning Platform</h1>
        <nav>
            <ul>
                <li><a href="courses">Courses</a></li>
                <li><a href="tests">Tests</a></li>
                <li><a href="progress">Progress</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="explore">
            <h3>Explore All Courses <a href="courses">>></a></h3>
            <p><small>Discover a wide range of courses to suit your interests and learning goals.</small></p>
            <ul id="courseList">
                <!-- Course elements will be added dynamically by JavaScript -->
            </ul>
        </div>
        <div>
            <pre>"Welcome to our Online Learning Platform! 
 Dive into a world of knowledge, where learning knows no bounds. 
 Whether you're a student eager to explore new subjects 
 or a teacher ready to inspire, we're here to support your educational journey every step of the way. 
 Let's embark on this learning adventure together!"
                
 <strong><a href="About">About us</a></strong></pre>
        </div>
    </main>
    <footer>
        <p><a href="index">Online Learning Platform</a></p>
    </footer>
    <script src="home.js"></script>
</body>
</html>
